@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins");
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body header {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

body header img {
  width: 80px;
  height: 15px;
  display: block;
  -ms-grid-column-align: start;
      justify-self: start;
}

body header button {
  display: block;
  -ms-grid-column-align: end;
      justify-self: end;
  height: 23px;
  width: 90px;
  border: #ff52bf 1px solid;
  border-radius: 4px;
  background: white;
  color: #ff52bf;
  -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
}

body main .section-one {
  padding: 20px;
}

body main .section-one h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 1.4em;
}

body main .section-one p {
  text-align: center;
  color: #808d99;
  font-size: 0.8em;
}

body main .section-one img {
  width: 100%;
  padding-bottom: 40px;
}

body main .section-two {
  width: 100%;
  background: #F6FBFF;
  padding-bottom: 50px;
}

body main .section-two div {
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
}

body main .section-two div img {
  width: 100%;
}

body main .section-two h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.4em;
  margin-bottom: 5px;
}

body main .section-two p {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 0.8em;
  color: #808d99;
  margin-top: 10px;
  padding-bottom: 10px;
}

body main .section-three {
  padding-bottom: 50px;
}

body main .section-three h1 {
  padding-top: 60px;
  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 1.1em;
  text-transform: capitalize;
}

body main .section-three button {
  width: 46%;
  height: 40px;
  margin-left: 27%;
  margin-right: 27%;
  background: #ff52bf;
  border: #ff52bf 1px solid;
  border-radius: 4px;
  color: white;
  text-transform: capitalize;
  font-weight: 700;
  -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
}

body footer {
  background: #00252e;
  color: white;
}

body footer h1 {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
  padding-left: 20px;
  padding-top: 80px;
}

body footer form {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
}

body footer form input[type="text"] {
  margin: 0;
  height: 38px;
  min-width: 75%;
  padding: 0;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  display: block;
  float: left;
}

body footer form button {
  height: 38px;
  margin: 0;
  padding: 0;
  border: none;
  width: 25%;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #ff52bf;
}

body footer div .bottom-logo {
  padding-left: 20px;
  padding-bottom: 20px;
}

body footer div p {
  padding-left: 20px;
}

body footer .icons-cont {
  padding-left: 20px;
  padding-bottom: 40px;
}

body footer .icons-cont .icons {
  width: 30px;
  height: 30px;
  padding: 3px;
}

body footer .nav1 ul {
  padding-left: 20px;
  padding-bottom: 20px;
  list-style: none;
}

body footer .nav1 ul li {
  line-height: 38px;
}

body footer .nav1 ul li a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  font-size: 18px;
}

body footer .nav2 {
  padding-bottom: 30px;
}

body footer .nav2 ul {
  padding-left: 20px;
  list-style: none;
}

body footer .nav2 ul li {
  line-height: 38px;
}

body footer .nav2 ul li a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  font-size: 18px;
}

body footer .bottom-p {
  background-image: url(bg-footer-mobile.png);
}

body footer .bottom-p p {
  text-align: center;
  font-size: 12px;
  padding-top: 56px;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */