@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins');

// font-family: 'Poppins', sans-serif;
// font-family: 'Open Sans', sans-serif;

$colors: (
  primary: hsl(322, 100%, 66%),
  neutral1: hsl(192, 100%, 9%),
  neutral2: hsl(208, 11%, 55%)
);

@function color($color-name) {
  @return map-get($colors, $color-name)
}

body {
  margin: 0;
  padding: 0;

  header {
    img {
      width: 115px;
      height: 25px;
    }

    button {
      
    }
  }
}